.scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-opacity: 0;
    opacity: 0;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0;
    opacity: 0;
    -fx-opacity: 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-pref-height: 0;
    opacity: 0;
    -fx-opacity: 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0;
    opacity: 0;
    -fx-opacity: 0;
}